<div class="row">
    <div class="col-md-12" style="padding-left: 20%;padding-right: 20%;">
        <div class="card">
            <div class="card-body"style="text-align: center;">
                <h3 >الواجبات </h3>
              
               <h5>ادراج الواجب</h5>
               <div id="FileUpload">
                <div class="wrapper">
                  <div class="upload">
                    <input type="file" name="download" value="اضغط هنا" class="upload__button">  <span class="upload__button">ارسال </span>
                  </div>
                  <div class="uploaded uploaded--one">
                    <i class="far fa-file-pdf"></i>
                    <div class="file">
                      <div class="file__name">
                        <p></p>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:100%"></div>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


