<div class="row">
    <div class="col-md-12" style="padding-left: 20%;padding-right: 20%;">
        <div class="card">
            <div class="card-body"style="text-align: center;">
                <h3 >الإختبار الذاتي</h3>
              <b> ارشادات  :</b> 
                <p> 
                    يمكن حفظ هذا الإختبار واستئنافه لاحقاً
                </p>
               <b>معلومات الإختبار :</b> 
                <br>
                <p> مدة الاختبار:1 ساعة</p>
                <p> مدة  توفر الاختبار:24 ساعة</p>
              <p>عدد محاولات  : مرة واحدة فقط</p>  
               <p> درجة الاختبار :20 درجة</p>
               
             
            </div>
        </div>
    </div>
</div>




<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelOne">
          <ng-template #labelOne>First step</ng-template>
          <ul class="list-group">
            <li class="list-group-item">
                <p>السؤال الأول</p>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <button class="btn btn-outline-primary" type="submit">حفظ الإجابة</button>
                النقاط المحتملة:5 نقاط
            </li>
        </ul>
          <button nbButton disabled nbStepperNext>السؤال السابق</button>
          <button nbButton nbStepperNext>السؤال التالي</button>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Second step</ng-template>
          <ul class="list-group">
            <li class="list-group-item">
                <p>السؤال الثاني</p>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <button class="btn btn-outline-primary" type="submit">حفظ الإجابة</button>
                النقاط المحتملة:5 نقاط
            </li>
        </ul>
          <button nbButton nbStepperPrevious>السؤال السابق</button>
          <button nbButton nbStepperNext>السؤال التالي</button>
        </nb-step>
        <nb-step label="Third step">
            <ul class="list-group">
                <li class="list-group-item">
                    <p>السؤال الثالث</p>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-outline-primary" type="submit">حفظ الإجابة</button>
                    النقاط المحتملة:5 نقاط
                </li>
            </ul>
          <button nbButton nbStepperPrevious>السؤال السابق</button>
          <button nbButton nbStepperNext>السؤال التالي</button>
        </nb-step>
        <nb-step [label]="labelFour">
          <ng-template #labelFour>Fourth step</ng-template>
          <ul class="list-group">
            <li class="list-group-item">
                <p>السؤال الرابع</p>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <button class="btn btn-outline-primary" type="submit">حفظ الإجابة</button>
                النقاط المحتملة:5 نقاط
            </li>
        </ul>
          <button nbButton nbStepperPrevious>السؤال السابق</button>
          <button nbButton disabled nbStepperNext>السؤال التالي</button>
          <button class="btn btn-outline-primary" type="submit">حفظ كافة الإجابات</button>

        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>